$regular: 'Roboto', sans-serif;
$primary: #0777bd;
$secondary: #7ec658;
$tertiary: #f9b206;
$black: #252525;

@mixin text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin basic-text {
  font-weight: 300;
  font-size: 18px;
}

@mixin secondary-header {
  font-weight: 500;
  font-size: 20px;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-cerave.es-cerave {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
  }

  .es-kv {
    position: relative;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    &__logo {
      position: absolute;
      top: 50px;
      left: 30px;
      width: 57%;
    }
    &__images-container {
      padding-top: 130px;
      display: flex;
      justify-content: center;
    }
    &__images-wrapper {
      position: relative;
      max-width: 400px;
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
      animation-delay: 0.3s;
    }
    &__label {
      position: absolute;
      top: 35%;
      left: 24px;
      width: 35%;
      &--second {
        top: 65%;
      }
    }
    &__product {
      width: 100%;
    }
    &__header,
    &__subheader,
    &__text {
      @include text;
    }
    &__header {
      font-size: 26px;
      font-weight: 700;
      color: $primary;
      &--yellow {
        color: $tertiary;
      }
    }
    &__subheader {
      margin: 15px 0;
    }
    &__subheader,
    &__text {
      @include secondary-header;
      font-weight: 400;
    }
    &__subheader span,
    &__text {
      color: $primary;
    }
    &__text-container {
      margin: 20px;
      opacity: 0;
      animation: slideright 0.6s ease forwards;
      animation-delay: 0.3s;
    }
  }

  .es-solution {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__header,
    &__subheader,
    &__text {
      @include text;
      text-align: center;
    }

    &__header,
    &__subheader {
      font-weight: bold;
    }

    &__header {
      text-transform: uppercase;
      font-size: 20px;
    }

    &__subheader {
      margin-bottom: 15px;
      @include secondary-header;
    }

    &__text {
      @include basic-text;
    }

    &__single {
      margin: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      margin: 20px 0;
    }
  }

  .es-band {
    &__icons {
      background: #a1cbe6;
      margin: 40px 0;
      padding: 32px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 244px;
    }
    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      height: 180px;
    }
    &__text,
    &__disclaimer {
      @include basic-text;
      text-align: center;
    }
    &__disclaimer {
      margin: 40px 20px;
      line-height: 1.4;
    }
    &__disclaimer-title {
      @include basic-text;
      text-align: center;
      font-size: 22px;
    }
  }

  .es-ingredients {
    &__text-container {
      margin: 40px 20px;
    }
    &__header {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    &__single {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 20px 0;
    }
    &__icon {
      width: 87px;
      z-index: 3;
    }
    &__icon-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 7px;
      width: 100%;
    }
    &__line {
      max-width: 100%;
      margin-left: -20px;
      height: 2px;
    }
    &__label {
      @include secondary-header;
      margin: 0 0 5px 15px;
    }
    &__text {
      width: 100%;
      @include basic-text;
      font-size: 17px;
      padding: 5px 0 0 15px;
      margin: 0;
      border-top: 3px solid $primary;
    }
    &__image {
      width: 100%;
      max-height: 718px;
      object-fit: contain;
      object-position: right;
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 400px) {
    .es-kv {
      &__logo {
        width: auto;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .es-kv {
      &__text {
        max-width: 500px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__header {
        margin-bottom: 33px;
        font-size: 34px;
      }
      &__subheader {
        margin-top: 0;
        margin-bottom: 26px;
      }
      &__content-wrapper {
        display: flex;
        flex-direction: row-reverse;
      }
      &__text-container,
      &__images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__images-container {
        padding: 60px 0 0 0;
        width: 60%;
      }
      &__images-wrapper {
        max-width: 520px;
      }
      &__text-container {
        margin: 40px 0 40px 40px;
        width: 40%;
      }
      &__label {
        position: absolute;
        top: 45%;
        left: 12px;
        width: auto;
        &--second {
          top: 76%;
        }
      }
      &__logo {
        left: 40px;
      }
    }

    .es-solution {
      margin: 40px 0 0 0;

      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      &__single {
        padding: 25px;
        margin: 0;
      }
      &__text {
        font-size: 18px;
      }
      &__subheader {
        margin-bottom: 32px;
      }
      &__icon {
        margin-top: 28px;
        margin-bottom: 30px;
      }
    }

    .es-band {
      &__icons {
        margin-top: 100px;
        margin-bottom: 90px;
        padding-top: 75px;
        padding-bottom: 58px;
        width: 100%;
        justify-content: center;
      }
      &__disclaimer {
        margin: 26px 7.2% 41px 8.2%;
      }
      &__disclaimer-title {
        margin: 0;
        font-size: 30px;
      }
      &__text {
        margin-top: 20px;
        line-height: 1.3;
        font-size: 22px;
      }
    }

    .es-ingredients {
      display: flex;
      &__text-container,
      &__image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__text-container {
        // width: 38%;
      }
      &__image-container {
        // width: auto;
      }
      &__image {
        margin-bottom: 0;
      }
      &__text-container {
        margin: 40px;
        margin-left: 92px;
      }
      &__header {
        margin-top: 35px;
        margin-bottom: 49px;
        font-size: 45px;
      }
      &__single {
        margin-top: 21px;
        margin-bottom: 38px;
        margin-left: 4px;
      }
      &__image {
        margin-top: 92px;
      }
    }
  }

  @media screen and (min-width: 930px) {
    .es-kv {
      &__header {
        font-size: 45px;
        line-height: 1;
      }
      &__subheader,
      &__text {
        font-size: 22px;
      }
      &__logo {
        left: 93px;
        top: 147px;
      }
      &__text-container {
        margin: 271px 0 169px 92px;
        width: 40%;
      }
      &__label {
        position: absolute;
        top: 44.7%;
        left: 19px;
        width: auto;
        &--second {
          top: 72.1%;
          left: 21px;
        }
      }
      &__text-container {
        width: 38.5%;
      }
      &__images-container {
        padding: 23px 0 0 0;
      }
      &__text {
        max-width: 345px;
      }
    }

    .es-solution {
      margin: 43px 0 0 0;
      padding-left: 93px;
      padding-right: 80px;
      &__single {
        max-width: 461px;
        margin: 0;
        padding: 46px;
        &:first-of-type {
          max-width: 450px;
        }
      }
      &__subheader {
        font-size: 22px;
      }
    }

    .es-band {
      &__icons {
        margin-right: 50px;
      }
    }

    .es-ingredients {
      margin-bottom: 40px;
      &__text-container {
        width: 50%;
      }
      &__image-container {
        width: 50%;
      }
      &__label {
        margin: 0 0 10px 20px;
      }
      &__text {
        padding: 7px 0 0 23px;
        max-width: 407px;
        font-size: 18px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .es-solution {
      &__single {
        padding: 0;
      }
      &__text {
        font-size: 22px;
      }
    }
  }

  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-32px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
