#es-cerave.es-cerave {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #252525;
  background-color: #fff;
}
#es-cerave.es-cerave * {
  box-sizing: border-box;
}
#es-cerave.es-cerave h2,
#es-cerave.es-cerave h3,
#es-cerave.es-cerave h4,
#es-cerave.es-cerave h5 {
  font-family: "Roboto", sans-serif;
}
#es-cerave.es-cerave .es-kv {
  position: relative;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
#es-cerave.es-cerave .es-kv__logo {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 57%;
}
#es-cerave.es-cerave .es-kv__images-container {
  padding-top: 130px;
  display: flex;
  justify-content: center;
}
#es-cerave.es-cerave .es-kv__images-wrapper {
  position: relative;
  max-width: 400px;
  opacity: 0;
  -webkit-animation: slidedown 0.6s ease forwards;
          animation: slidedown 0.6s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#es-cerave.es-cerave .es-kv__label {
  position: absolute;
  top: 35%;
  left: 24px;
  width: 35%;
}
#es-cerave.es-cerave .es-kv__label--second {
  top: 65%;
}
#es-cerave.es-cerave .es-kv__product {
  width: 100%;
}
#es-cerave.es-cerave .es-kv__header, #es-cerave.es-cerave .es-kv__subheader, #es-cerave.es-cerave .es-kv__text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
#es-cerave.es-cerave .es-kv__header {
  font-size: 26px;
  font-weight: 700;
  color: #0777bd;
}
#es-cerave.es-cerave .es-kv__header--yellow {
  color: #f9b206;
}
#es-cerave.es-cerave .es-kv__subheader {
  margin: 15px 0;
}
#es-cerave.es-cerave .es-kv__subheader, #es-cerave.es-cerave .es-kv__text {
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
}
#es-cerave.es-cerave .es-kv__subheader span, #es-cerave.es-cerave .es-kv__text {
  color: #0777bd;
}
#es-cerave.es-cerave .es-kv__text-container {
  margin: 20px;
  opacity: 0;
  -webkit-animation: slideright 0.6s ease forwards;
          animation: slideright 0.6s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#es-cerave.es-cerave .es-solution {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#es-cerave.es-cerave .es-solution__header, #es-cerave.es-cerave .es-solution__subheader, #es-cerave.es-cerave .es-solution__text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
}
#es-cerave.es-cerave .es-solution__header, #es-cerave.es-cerave .es-solution__subheader {
  font-weight: bold;
}
#es-cerave.es-cerave .es-solution__header {
  text-transform: uppercase;
  font-size: 20px;
}
#es-cerave.es-cerave .es-solution__subheader {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}
#es-cerave.es-cerave .es-solution__text {
  font-weight: 300;
  font-size: 18px;
}
#es-cerave.es-cerave .es-solution__single {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#es-cerave.es-cerave .es-solution__icon {
  margin: 20px 0;
}
#es-cerave.es-cerave .es-band__icons {
  background: #a1cbe6;
  margin: 40px 0;
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 244px;
}
#es-cerave.es-cerave .es-band__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 180px;
}
#es-cerave.es-cerave .es-band__text, #es-cerave.es-cerave .es-band__disclaimer {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
#es-cerave.es-cerave .es-band__disclaimer {
  margin: 40px 20px;
  line-height: 1.4;
}
#es-cerave.es-cerave .es-band__disclaimer-title {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  font-size: 22px;
}
#es-cerave.es-cerave .es-ingredients__text-container {
  margin: 40px 20px;
}
#es-cerave.es-cerave .es-ingredients__header {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}
#es-cerave.es-cerave .es-ingredients__single {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}
#es-cerave.es-cerave .es-ingredients__icon {
  width: 87px;
  z-index: 3;
}
#es-cerave.es-cerave .es-ingredients__icon-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 7px;
  width: 100%;
}
#es-cerave.es-cerave .es-ingredients__line {
  max-width: 100%;
  margin-left: -20px;
  height: 2px;
}
#es-cerave.es-cerave .es-ingredients__label {
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 5px 15px;
}
#es-cerave.es-cerave .es-ingredients__text {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  font-size: 17px;
  padding: 5px 0 0 15px;
  margin: 0;
  border-top: 3px solid #0777bd;
}
#es-cerave.es-cerave .es-ingredients__image {
  width: 100%;
  max-height: 718px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  margin-bottom: 40px;
}
#es-cerave.es-cerave .es-technology {
  margin: 0;
  padding: 0;
}
#es-cerave.es-cerave .es-technology__single {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
#es-cerave.es-cerave .es-technology__single:first-of-type .es-technology__text-container {
  background-color: #0777bd;
}
#es-cerave.es-cerave .es-technology__single:nth-of-type(2) .es-technology__text-container {
  background-color: #045181;
}
#es-cerave.es-cerave .es-technology__img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-cerave.es-cerave .es-technology__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px 10px;
}
#es-cerave.es-cerave .es-technology__header, #es-cerave.es-cerave .es-technology__text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  text-align: center;
}
#es-cerave.es-cerave .es-technology__header {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
#es-cerave.es-cerave .es-technology__text {
  font-weight: 300;
  font-size: 18px;
  font-size: 16px;
}
@media screen and (min-width: 400px) {
  #es-cerave.es-cerave .es-kv__logo {
    width: auto;
  }
}
@media screen and (min-width: 500px) {
  #es-cerave.es-cerave .es-kv__text {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  #es-cerave.es-cerave .es-kv__header {
    margin-bottom: 33px;
    font-size: 34px;
  }
  #es-cerave.es-cerave .es-kv__subheader {
    margin-top: 0;
    margin-bottom: 26px;
  }
  #es-cerave.es-cerave .es-kv__content-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  #es-cerave.es-cerave .es-kv__text-container, #es-cerave.es-cerave .es-kv__images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #es-cerave.es-cerave .es-kv__images-container {
    padding: 60px 0 0 0;
    width: 60%;
  }
  #es-cerave.es-cerave .es-kv__images-wrapper {
    max-width: 520px;
  }
  #es-cerave.es-cerave .es-kv__text-container {
    margin: 40px 0 40px 40px;
    width: 40%;
  }
  #es-cerave.es-cerave .es-kv__label {
    position: absolute;
    top: 45%;
    left: 12px;
    width: auto;
  }
  #es-cerave.es-cerave .es-kv__label--second {
    top: 76%;
  }
  #es-cerave.es-cerave .es-kv__logo {
    left: 40px;
  }
  #es-cerave.es-cerave .es-solution {
    margin: 40px 0 0 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  #es-cerave.es-cerave .es-solution__single {
    padding: 25px;
    margin: 0;
  }
  #es-cerave.es-cerave .es-solution__text {
    font-size: 18px;
  }
  #es-cerave.es-cerave .es-solution__subheader {
    margin-bottom: 32px;
  }
  #es-cerave.es-cerave .es-solution__icon {
    margin-top: 28px;
    margin-bottom: 30px;
  }
  #es-cerave.es-cerave .es-band__icons {
    margin-top: 100px;
    margin-bottom: 90px;
    padding-top: 75px;
    padding-bottom: 58px;
    width: 100%;
    justify-content: center;
  }
  #es-cerave.es-cerave .es-band__disclaimer {
    margin: 26px 7.2% 41px 8.2%;
  }
  #es-cerave.es-cerave .es-band__disclaimer-title {
    margin: 0;
    font-size: 30px;
  }
  #es-cerave.es-cerave .es-band__text {
    margin-top: 20px;
    line-height: 1.3;
    font-size: 22px;
  }
  #es-cerave.es-cerave .es-ingredients {
    display: flex;
  }
  #es-cerave.es-cerave .es-ingredients__text-container, #es-cerave.es-cerave .es-ingredients__image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #es-cerave.es-cerave .es-ingredients__image {
    margin-bottom: 0;
  }
  #es-cerave.es-cerave .es-ingredients__text-container {
    margin: 40px;
    margin-left: 92px;
  }
  #es-cerave.es-cerave .es-ingredients__header {
    margin-top: 35px;
    margin-bottom: 49px;
    font-size: 36px;
  }
  #es-cerave.es-cerave .es-ingredients__single {
    margin-top: 21px;
    margin-bottom: 38px;
    margin-left: 4px;
  }
  #es-cerave.es-cerave .es-ingredients__image {
    margin-top: 92px;
  }
  #es-cerave.es-cerave .es-technology {
    display: flex;
    flex-direction: row;
  }
  #es-cerave.es-cerave .es-technology__single {
    width: 50%;
  }
  #es-cerave.es-cerave .es-technology__text-container {
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
  #es-cerave.es-cerave .es-technology__header {
    margin-top: 20px;
  }
  #es-cerave.es-cerave .es-technology__text {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 930px) {
  #es-cerave.es-cerave .es-kv__header {
    font-size: 45px;
    line-height: 1;
  }
  #es-cerave.es-cerave .es-kv__subheader, #es-cerave.es-cerave .es-kv__text {
    font-size: 22px;
  }
  #es-cerave.es-cerave .es-kv__logo {
    left: 93px;
    top: 147px;
  }
  #es-cerave.es-cerave .es-kv__text-container {
    margin: 271px 0 169px 92px;
    width: 40%;
  }
  #es-cerave.es-cerave .es-kv__label {
    position: absolute;
    top: 44.7%;
    left: 19px;
    width: auto;
  }
  #es-cerave.es-cerave .es-kv__label--second {
    top: 72.1%;
    left: 21px;
  }
  #es-cerave.es-cerave .es-kv__text-container {
    width: 38.5%;
  }
  #es-cerave.es-cerave .es-kv__images-container {
    padding: 23px 0 0 0;
  }
  #es-cerave.es-cerave .es-kv__text {
    max-width: 345px;
  }
  #es-cerave.es-cerave .es-solution {
    margin: 43px 0 0 0;
    padding-left: 93px;
    padding-right: 80px;
  }
  #es-cerave.es-cerave .es-solution__single {
    max-width: 461px;
    margin: 0;
    padding: 46px;
  }
  #es-cerave.es-cerave .es-solution__single:first-of-type {
    max-width: 450px;
  }
  #es-cerave.es-cerave .es-solution__subheader {
    font-size: 22px;
  }
  #es-cerave.es-cerave .es-band__icons {
    margin-right: 50px;
  }
  #es-cerave.es-cerave .es-ingredients {
    margin-bottom: 40px;
  }
  #es-cerave.es-cerave .es-ingredients__text-container {
    width: 50%;
  }
  #es-cerave.es-cerave .es-ingredients__image-container {
    width: 50%;
  }
  #es-cerave.es-cerave .es-ingredients__label {
    margin: 0 0 10px 20px;
  }
  #es-cerave.es-cerave .es-ingredients__text {
    padding: 7px 0 0 23px;
    max-width: 407px;
    font-size: 18px;
  }
  #es-cerave.es-cerave .es-ingredients__header {
    font-size: 45px;
  }
  #es-cerave.es-cerave .es-technology__single {
    margin-top: 6px;
  }
  #es-cerave.es-cerave .es-technology__header {
    margin: 0;
    padding-top: 49px;
    margin-bottom: 26px;
    margin-left: -14px;
    font-size: 22px;
  }
  #es-cerave.es-cerave .es-technology__text-container {
    padding-left: 0;
    padding: 4px 10px;
    padding-top: 3px;
  }
  #es-cerave.es-cerave .es-technology__text {
    margin-bottom: 0;
    max-width: 258px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  #es-cerave.es-cerave .es-solution__single {
    padding: 0;
  }
  #es-cerave.es-cerave .es-solution__text {
    font-size: 22px;
  }
}
@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */